.rangeBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border: 0px dashed @primaryHover;
  pointer-events: none;
  z-index: 99999;
  background: rgba(56,122,236,0.1);
}
