registry=https://registry.npmmirror.com
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
ELECTRON_HEADERS_MIRROR=https://cdn.npmmirror.com/binaries/electron/headers/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
msvs_version=2022
